/* src/styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}


/* Navbar Styling */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #e65d01, #41004b);
  color: linear-gradient(90deg, #1f1f1f, #333333);
  padding: 15px 30px;
  transition: all 0.3s ease;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.logo-nav {

  display: flex;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s ease;
  justify-content: center;
  align-items: center;
}

.logo-nav img {
  width: 5rem;
  height: 5rem;
}

.title-sub-nav {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.title-sub-nav .company-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.title-sub-nav .subtitle {
  font-size: 0.85rem;
  color: #1b0404;
}

/* Hover animation for the logo */


.nav-links {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.login {
  color: rgb(1, 2, 50);
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  /* For underline animation */
  font-size: 18px;
  transition: all 0.3s ease;
  /* Smooth transition for color change */
}

.nav-links a:hover {
  /* background: linear-gradient(90deg,transparent, #2e3400); */
  color: #a4f9af;
  /* Change color on hover */
}

.nav-links a:hover svg {
  transform: scale(1.2);
  /* Slightly enlarge the icon */
  transition: transform 0.3s ease;
  /* Smooth scaling */
}

.nav-links a:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  font-weight: bold;
  background: linear-gradient(90deg, transparent, #e8fb17);
  /* Underline animation */
  transition: all 0.3s ease;
}

.nav-links a svg {
  margin-right: 5px;
  transition: transform 0.3s ease;
  /* Smooth icon scaling */
}

.auth-btn {
  width: fit-content;
  background: linear-gradient(90deg, #ff6f61, #fbcd17);
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
  align-items: center;
  margin-left: 17px;
  gap: 8px;
  font-weight: bold;
}

.auth-btn:hover {
  background: linear-gradient(90deg, #fbcd17, #ff6f61);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Success message */
.success {
  color: green;
  font-size: 14px;
  margin-top: 10px;
}

/* Error message */
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Hamburger Icon (Hidden on Desktop) */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: white;
}


/* Landing Page Styling */
.landing-page {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  flex-grow: 1;
}

/* Left Section (Bot Animation) */
.left {
  flex-basis: 45%;
}

/* Right Section (Icons and AI Chat Features) */
.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  perspective: 1000px;
  /* 3D Effect */
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  /* Adds 3D Depth Effect */
  height: 80vh;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}


.right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

/* Left & Right Image Containers */
.left-image,
.right-image,
.video-container {
  width: 200px;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
  position: relative;
}

/* Default Z-Index */
.left-image,
.right-image,
.video-container {
  z-index: 1;
}

.left-image img,
.right-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Active Element Moves to Center */
.left-image.active,
.right-image.active,
.video-container.active {
  width: 250px;
  /* Increase size in center */
  z-index: 5;
  /* Bring it forward */
  transform: scale(1.2);
}

/* Rotation for Smooth Effect */
.left-image.active {
  transform: translateX(50px) rotateY(0deg);
}

.right-image.active {
  transform: translateX(-50px) rotateY(0deg);
}

.video-container.active {
  transform: translateX(0) rotateY(0deg);
}

/* Image & Video Styling */
.left-image img,
.right-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.video-container {
  width: 320px;
  height: auto;
}

.ai-chat-video {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}


/* Set Up Button Styling */
.setup-button button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.setup-button button:hover {
  background-color: #e85f55;
}

/* chatbot styling */
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(59, 130, 246, 0.3);
  transition: all 0.3s ease;
}

.chatbot-icon img {
  width: 90%;
  height: auto;
  border-radius: 50%;
}

.chatbot-icon:hover {
  transform: scale(1.01) rotate(90deg);
  transition: transform 0.3s ease;
}


/* Animation Styling */
.ai-bot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ai-bot-video {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* set-up button styling */
.learn-more-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0.8rem 2rem;
  /* More padding for a prominent look */
  font-size: 1rem;
  font-weight: 600;
  color: #0c0c0c;
  /* Base color for text */
  background-image: linear-gradient(135deg, #f05512, #f6da3b);
  border: none;
  /* Removing border for a cleaner look */
  border-radius: 30px;
  /* Full-rounded button */
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  transition: all 0.3s ease;
  /* Smooth transitions */
  box-shadow: 0px 4px 12px rgba(59, 130, 246, 0.3);
  /* Subtle shadow */
}

.learn-more-button:hover {
  background: linear-gradient(135deg, #f6da3b, #f05512);
  /* Color reversal on hover */
}

/* contact footer styling */
/* Footer.css */

.contact-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4rem;
  background: linear-gradient(90deg, #e65d01, #41004b);
  color: #ffffff;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
  flex-wrap: wrap;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



.contact-contain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  color: #ffffff;
  flex-wrap: wrap;
  text-align: left;
}

/* Left Section: Company Name & Subtitle */
.contact-left {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;


}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title img {
  width: 80px;
  height: 80px;
}

.contact-left img {
  width: 120px;
  height: 100px;
}

.contact-company-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.logo-title p,
.contact p {
  font-size: 0.9rem;
  color: #1b0404;
  margin-top: 0.3rem;
  font-weight: bold;

}


/* Social Media Icons */
.social-media-icons {
  display: flex;
  margin-top: 1rem;
  padding: 0;
  list-style: none;
}

.social-media-icons li {
  margin: 0 5px;
}

.social-media-icons li a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5em;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  transition: transform 0.3s ease, color 0.3s ease;
  overflow: hidden;
  position: relative;
}

.social-media-icons li a:hover {
  transform: translateY(-10px);
  color: #e0f7fa;
}

.social-media-icons li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(45deg) translateX(150px);
  transition: 0.5s;
}

.social-media-icons li a:hover::before {
  transform: skewX(45deg) translateX(-150px);
}

.contact-company-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

.contact-subtitle {
  font-size: 1rem;
  color: #d0e3ff;
  margin-top: 0.3rem;
}

/* Center Section: Navigation Links */
.contact-center {
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.contact-center h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.contact-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-link-item {
  margin: 0.5rem 0;
}

.contact-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.contact-link:hover {
  color: #f9e107;
  transform: translateY(-3px);
}

/* Right Section: Contact Information */
.contact-right {
  flex: 1;
  min-width: 250px;
  text-align: right;
}

.contact-right h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.contact-right p {
  margin: 0.3rem 0;
  color: #e2e7f0;
}

.horizontal-line {
  width: 80%;
  /* Set width as needed */
  height: 2px;
  /* Thickness of the line */
  background-color: #ccc;
  /* Line color */
  margin: 20px auto;
  /* Centering */
}


/* AuthModal Styling */
.auth-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 450px;
  position: relative;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
}

/* 🔹 Close Button */
.auth-modal .close-btn-modal {
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}

/* 🔹 Form */
.auth-modal form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-modal label {
  text-align: left;
  font-weight: bold;
}

.auth-modal input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-modal form button {
  background: linear-gradient(145deg, #ff7402, #ec013c);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-modal form button:hover {
  background: linear-gradient(145deg, #ec013c, #ff7402);
  font-weight: bold;
}

.google-btn {
  width: 50%;
  background: linear-gradient(145deg, #ff0202, #f80143);
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 10px;
  justify-content: center;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-btn:hover {
  background: linear-gradient(145deg, #f80143, #ff0202);
  font-weight: bold;
}

.auth-modal p span {
  color: #fc6603;
  cursor: pointer;
}


/* Sidebar with Glassmorphism & Floating Effect */
.sidebar {
  position: fixed;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(145deg, rgb(255, 111, 16), rgba(255, 2, 2, 0.933));
  padding: 10px 0;
  border-radius: 15px;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.5);
  z-index: 1000;
  /*new added */
  width: 60px; /* Default sidebar width for desktop */
  height: auto;
  /* width: 60px; Fixed width for circular buttons */
}

/* Sidebar Items */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
}

/* Sidebar Item */
.sidebar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  /* height: 50px; */
  padding: 15px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  position: relative;
  /* background: rgba(255, 255, 255, 0.2); */
}

/* Hover Effect */
.sidebar-item:hover {
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

/* Active State */
.sidebar-item.active {
  width: 25px;
  height: 25px;
  background-image: linear-gradient(90deg, #0f0253, #0306ae);
  box-shadow: inset 0px 0px 10px rgba(246, 126, 29, 0.875);
  font-weight: bolder;
  border-radius: 50%;
  color: rgb(225, 255, 0);
}

/* Icon Styling */
.icon {
  font-size: 22px;
  transition: transform 0.3s ease-in-out;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Tooltip (Initially Hidden) */
.text {
  position: absolute;
  left: 40px;
  background: rgba(7, 1, 65, 0.995);
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 1;
  transform: translateX(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.3);
}

/* Show Tooltip on Hover */
.sidebar-item .icon:hover .text {
  display: flex;
  opacity: 1;
  transform: scale(1.01);
}

.sidebar-item.active .text {
  display: none;
}

/* Separator */
.separator {
  width: 50%;
  height: 1px;
  background: #fff;
  margin: 10px 0;
}


/*Dashboard  managerStyling */
.dashboard-manager {
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center;
  flex-wrap: nowrap; */
  background: #fff;
  position: relative;

  justify-content: flex-start; /* Align left */
  align-items: flex-start; /* Align to top */
  flex-wrap: nowrap;

  /* border: 2px solid #000; */

}

/* Sidebar */
.sidebar-container {
  width: 60px;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

.dashboard-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add padding if needed */
  margin-left: 70px; /* Ensure content starts after sidebar */
  /* border: 2px solid #000; */

}

/* Middle Section */
.main-dashboard {
  width: 100%;
  display: flex;
  height: 100vh;
  background: #fff;

}


.middle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.text-btn {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}


/* Slogan */
.slogan {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #180141;
  text-shadow: 2px 2px 10px rgba(123, 0, 255, 0.5);
}

/* AI Animation */
.bot-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bot Animation Container */
.bot-animation {
  top: 2%;
  width: 42%;
  position: relative;
  z-index: 1000;
  /* Ensures it's above other elements */
  transform: translateY(-50px);
  border-radius: 50%;
}


/* Setup Button */
.setup-btn-container {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  padding: 12px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Setup Button */
.setup-btn1 {

  width: 160px;
  /* Increase size for outer button */
  height: 160px;
  /* Same as width to maintain circular shape */
  margin-top: 20px;
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7b29f7, #0252a8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(150, 65, 247, 0.3);
  /* position: relative; Keep as absolute */
  position: absolute;
}

.setup-btn2 {
  width: 130px;
  /* Slightly smaller */
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4c07b4, #012954);
  border: none;
  border-radius: 45%;
  cursor: pointer;
  position: absolute;
  /* Keeps the layering */
}

.setup-btn {
  width: 100px;
  /* Smallest button */
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #350183, #01346c);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 15px rgba(255, 0, 255, 0.3);
  position: relative;
  /* Keep button layers */
  transition: all 0.3s ease-in-out;
  z-index: 2;
  /* Ensure it's on top */
}

.setup-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 20px rgba(255, 165, 0, 0.5);
}

/* 🚀 Arrow Container */
.arrow-container {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🎯 Arrow Image Layers */
.arrow-image {
  width: 60px;
  height: 60px;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

/* 🌀 Layered Arrow Background Effects */
.arrow-layer-1 {
  opacity: 1;
  background: radial-gradient(circle, rgba(255, 165, 0, 0.6) 30%, transparent 70%);
}

.arrow-layer-2 {
  opacity: 0.6;
  transform: translate(-4px, 4px);
  background: radial-gradient(circle, rgba(255, 0, 255, 0.6) 30%, transparent 70%);
}

.arrow-layer-3 {
  opacity: 0.3;
  transform: translate(-8px, 8px);
  background: radial-gradient(circle, rgba(0, 255, 255, 0.6) 30%, transparent 70%);
}

/* Hover Animation for Layered Arrows */
.setup-btn:hover .arrow-layer-1 {
  transform: translate(6px, -6px);
}

.setup-btn:hover .arrow-layer-2 {
  transform: translate(10px, -10px);
}

.setup-btn:hover .arrow-layer-3 {
  transform: translate(14px, -14px);
}

/* Light Theme Styles */
.setup-container {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  padding: 20px;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

input,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.progress-bar {
  display: flex;
  margin-bottom: 20px;
}

.progress {
  flex-grow: 1;
  height: 5px;
  background-color: #ccc;
  margin: 0 5px;
}

.progress.active {
  background-color: #4caf50;
}

/* Styling for the registration overlay */
.overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  /* Dark background with opacity */
  z-index: 1000;
}

.overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(2, 89, 89, 0.629);
  /* Transparent white background */
  padding: 30px;
  border-radius: 12px;
  width: 60%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  /* Applies the blur effect */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari support */
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* Adds subtle border to mimic frosted glass effect */
}

.company-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.company-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
}

.company-form input,
.company-form textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  /* Light transparent background */
  color: #fff;
}

.company-form input:focus,
.company-form textarea:focus {
  border: 2px solid #ff7402;
  /* Highlighting on focus */
}

.submit-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(145deg, #ff7402, #ec013c);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.close-company-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  width: fit-content;
  font-weight: bold;
}

.close-company-btn:hover {
  color: #ff0000;
}


/* company dashboard styling */
.company-dashboard-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  /* max-height: fit-content; */
  box-sizing: border-box;

}

.current-company,
.company-info {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: #000 solid 2px;

  text-align: left;
}



.company-dashboard-container h2 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.company-dashboard-container p {
  font-size: 1rem;
  color: #333;
}

.company-dashboard-container strong {
  color: #e63d00;
}

.company-dashboard-container a {
  color: #0073e6;
  text-decoration: none;
}

.company-dashboard-container a:hover {
  text-decoration: underline;
}

.dropdown-container {
  margin-bottom: 30px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.company-dropdown {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  max-height: 150px;
}

.company-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.company-info-row p {
  flex: 1;
  margin: 0;
}

.company-info-row p strong {
  font-weight: bold;
}


.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}


.action-buttons .test-chatbot-btnn {
  width: 200px;
  height: 200px;
  padding: 12px 20px;
  background: linear-gradient(130deg, #000, #0056b3);
  box-shadow: 2px 2px 10px rgba(55, 238, 248, 0.834);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 0.2s;
  font-weight: bold;

}

.action-buttons .test-chatbot-btnn:hover {
  background-color: #005bb5;
}


.company-info ul {
  padding-left: 20px;
}

.company-info li {
  margin-bottom: 10px;
}

.company-info ul li ul {
  padding-left: 20px;
  list-style-type: square;
}

.error-message,
.loading-message {
  color: red;
  font-weight: bold;
}

/* chat animation styling */
/* chat animation styling */
.chat-container {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 400px;
  height: 550px;
  background: linear-gradient(135deg, rgb(255, 111, 16), rgba(255, 2, 2, 0.597));
  /* Linear gradient for a modern look */
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  /* Enhanced blur effect */
  display: none;
  /* Hidden by default */
  opacity: 0;
  transition: opacity 0.5s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* Optional light border for the edge */
}

.chat-container.show {
  display: block;
  opacity: 1;
}

.chat-window {
  padding: 15px;
  height: calc(100% - 30px);
  overflow-y: auto;
  /* Allow scrolling for longer chat content */
}

.chat-header {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  /* White text color */
}

.chat-content {
  margin-top: 20px;
  color: #fff;
  /* White text for chat messages */
}

.user-message,
.bot-message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  clear: both;
  display: inline-block;
  font-size: 16px;
  color: #fff;
}

.user-message {
  background-color: #bbc803;
  float: right;
  margin-right: 15px;
  color: #000;
}

.bot-message {
  background-color: #f1f1f1;
  color: #333;
  float: left;
  margin-left: 15px;
}

.typing-indicator {
  font-style: italic;
  color: gray;
  margin-top: 15%;
  float: right;
}


.bot {
  float: left;
}

.thank-you-message {
  text-align: center;
  font-size: 20px;
  padding: 30px;
  color: #fff;
  /* White text for thank-you message */
  font-weight: 500;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.chat-container.show {
  animation: slideUp 0.5s ease-out forwards;
}

/* Border at the bottom to simulate real screen */
.chat-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: linear-gradient(135deg, #00151a, #b62100);
  /* Gradient for the bottom border */
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Echo Assistant Styling */
.echo-container {
  width: 100%;
  height: 100vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid #000; */
}

/* Card styling */
.echo-card {
  width: 100%;
  background: linear-gradient(180deg, #3d0a61, #570357);
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  color: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Bot image */
.echo-image {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  animation: floatUpDown 3s infinite ease-in-out;
}

/* Floating animation */
@keyframes floatUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Title styling */
.echo-container h2 {
  font-size: 24px;
  margin: 0;
}

.echo-container h3 {
  font-size: 22px;
  margin: 10px 0;
}

.highlight {
  color: #f700ff;
  font-weight: bold;
}

/* Paragraph styling */
.echo-container p {
  font-size: 14px;
  margin-bottom: 30px;
}

/* Test Chatbot Button */
.test-chatbot-btn {
  background: linear-gradient(45deg, #8737f8, #dd07fe);
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 255, 170, 0.4);
}

.test-chatbot-btn:hover {
  transform: translateX(-50%) scale(1.1);
}

/* Test Result UI */
.test-result {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.success {
  background-color: rgba(0, 255, 0, 0.2);
  color: lime;
}

.failure {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
}

/* Integration Test Container */
.test-integration-container {
  margin-top: 30px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

/* Topbar Message */
.topbar {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
}

/* Chatbot Buttons */
.chatbot-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Integrate Chatbot Button */
.integrate-chatbot-btn {
  background: linear-gradient(45deg, #2f00ff, #2f0138);
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.integrate-chatbot-btn:hover {
  transform: scale(1.1);
}

/* Integration Instructions */
.integration-instructions {
  margin-top: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  text-align: left;
}

.integration-instructions pre {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
  color: #ffea00;
}

/* Email Instructions Section */
.email-instructions {
  margin-top: 15px;
  text-align: center;
}

/* Mail Instructions Button */
.mail-instructions-btn {
  background: linear-gradient(45deg, #ff9800, #ff5722);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.mail-instructions-btn:hover {
  transform: scale(1.1);
}

/* Success UI */
.success-ui {
  margin-top: 20px;
  padding: 15px;
  background: rgba(0, 255, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  color: lime;
}

/* Failure UI */
.failure-ui {
  margin-top: 20px;
  padding: 15px;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  color: red;
}

/* Retry Integration Button */
.retry-integration-btn {
  background: linear-gradient(45deg, #f44336, #d32f2f);
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.retry-integration-btn:hover {
  transform: scale(1.1);
}

/* Admin Panel Button */
.admin-panel-btn {
  background: linear-gradient(45deg, #4caf50, #388e3c);
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.admin-panel-btn:hover {
  transform: scale(1.1);
}

/* Start Chatbot Button */
.start-chatbot-btn {
  background: linear-gradient(45deg, #f39521, #d21c19);
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.start-chatbot-btn:hover {
  transform: scale(1.1);
}

/* admin dashboard */


:root {
  --bg-color: #0f172a;
  --card-bg: rgba(255, 255, 255, 0.1);
  --text-color: #fa5f17;
  --border-color: rgba(255, 255, 255, 0.2);
}


.chatbot-dashboard-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.dashboard-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  animation: fadeInDown 0.5s ease-out;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 equal-width columns */
  gap: 1.5rem;
}

.dashboard-card {
  background: var(--card-bg);
  border-radius: 15px;
  padding: 1.5rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.5s ease-out;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 48px 0 rgba(31, 38, 135, 0.5);
}

.dashboard-card h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.stat-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.stat-label {
  font-size: 0.9rem;
  opacity: 0.8;
}

.chart-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
}

.conversation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.conversation-item {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: background 0.3s ease;
}

.conversation-item:hover {
  background: rgba(255, 255, 255, 0.1);
}

.conversation-item strong {
  display: block;
  margin-bottom: 0.5rem;
}

.conversation-item p {
  margin: 0 0 0.5rem 0;
}

.conversation-item span {
  font-size: 0.8rem;
  opacity: 0.7;
}

.settings-grid {
  width: 500px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;

}

.settings-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  color: var(--text-color);
  font-size: 0.9rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.settings-button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}

.settings-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* profile styling */

.profileContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* Allows sections to wrap on smaller screens */
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  gap: 20px;
  /* border: 2px solid #000; */
}

.photoSection,
.detailsSection,
.locationSection {
  flex: 1 1 30%;
  /* Flex-grow, flex-shrink, and flex-basis */
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.photoSection {
  display: flex;
  justify-content: center;
  align-items: center;

}

.userPhoto {
  padding: 0.5rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  /* Ensures the image covers the area without distortion */
  border: 2px solid #fe8504;
  /* Optional: Border around the photo */
}

.sectionTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
  border-bottom: 2px solid #ff3c00;
  padding-bottom: 0.5rem;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
  font-size: 1rem;
}

.icon-profile {
  margin-right: 0.5rem;
  color: #ff4000;
}

.label {
  font-weight: bold;
  margin-right: 0.5rem;
  color: #555;
}

.updateButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(145deg, #ff0202, #f80143);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.updateButton:hover {
  background-color: #0056b3;
}

.buttonIcon {
  margin-right: 0.5rem;
}



/* update profile */

.overlay-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.formContainer-profile {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  position: relative;
}

.closeButton-profile {
  width: fit-content;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.closeButton-profile:hover {
  color: red;
}

.formTitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.one-row {
  display: flex;
  justify-content: space-between;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #000;
}

.formGroup input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: linear-gradient(145deg, #ff7402, #ec013c);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background: linear-gradient(145deg, #ec013c, #ff7402);
  font-weight: bold;
}

/* setting styling */
/* Settings Container */
.settings-container {
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(to bottom right, #FFEDD5, #FFF3C4); */
  padding: 2rem;
}

/* Settings Card */
.settings-card {
  margin: 0 auto;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  overflow: hidden;
}

/* Settings Header */
.settings-header {
  background-color: #ff5432;
  color: white;
  padding: 1.5rem;
}

.settings-header h1 {
  font-size: 2rem;
  font-weight: bold;
}

/* Navigation */
.settings-nav {
  background-color: #FFEDD5;
  padding: 1rem;
}

.settings-nav-list {
  display: flex;
  gap: 1.5rem;
}

.settings-nav-item {
  color: #f5970b;
  text-decoration: none;
  font-size: 1.125rem;
}

.settings-nav-item:hover {
  color: #f95616;
}

/* Main Section */
.settings-main {
  padding: 2rem;
}

/* Settings Section */
.settings-section {
  margin-bottom: 2rem;
}

.settings-section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ff5432;
  margin-bottom: 1rem;
}

/* Input Group */
.settings-input-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.settings-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 2px solid #FDE68A;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: #374151;
  outline: none;
}

.settings-input:focus {
  border-color: #e76407;
}

/* Checkbox */
.settings-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox-container {
  position: relative;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
}

.checkbox-bg {
  width: 2.5rem;
  height: 1.5rem;
  background-color: #FDE68A;
  border-radius: 9999px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.checkbox-dot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #FB923C;
  border-radius: 50%;
  top: 50%;
  left: 0.125rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.checkbox-input:checked+.checkbox-bg .checkbox-dot {
  transform: translateX(1rem);
}

.settings-label {
  font-size: 1rem;
  color: #F59E0B;
  font-weight: 500;
  margin-left: 1rem;
}

/* Theme Settings */
.settings-theme-toggle {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.settings-range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.375rem;
  background-color: #FDE68A;
  border-radius: 9999px;
  outline: none;
  cursor: pointer;
}

.settings-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FB923C;
  border-radius: 50%;
  cursor: pointer;
}

.settings-range-input::-moz-range-thumb {
  width: 1.25rem;
  height: 1.25rem;
  background-color: #FB923C;
  border-radius: 50%;
  cursor: pointer;
}

/* Footer */
.settings-footer {
  background-color: #FFEDD5;
  padding: 1rem;
  text-align: center;
  color: #F59E0B;
  font-size: 0.875rem;
  font-weight: 500;
}

/* pricing styling */
.price-container {
  
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.price-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fe6a0f;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.card {
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(245, 120, 18, 0.875);
  transition: transform 0.3s ease;
}

.card.hovered {
  transform: scale(1.05);
}

.price-card-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}

.card-body ul {
  list-style: none;
  padding: 0;
}

.included {
  color: green;
}

.not-included {
  color: red;
}

.choose-btn {

  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(145deg, #ff7402, #ec013c);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.choose-btn:hover {
  background: linear-gradient(145deg, #ec013c, #ff7402);
  opacity: 0.9;
}


/* contact */
@media (max-width: 768px) {
  .contact-contact {
    padding: 1rem;
    text-align: center;
  }

  .contact-contain {
    flex-direction: column;
    align-items: center;
  }

  .contact-left,
  .contact-center,
  .contact-right {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .social-media-icons {
    justify-content: center;
  }

  .social-media-icons li{
    margin: 2px;
  }

  .social-media-icons li a{
    width: 40px;
    height: 40px;
    font-size: 1.2em;
  }

  .contact-link-item {
    text-align: center;
  }

  .contact-right p {
    text-align: center;
  }

  .horizontal-line {
    width: 90%;
  }
}



@media screen and (max-width: 768px) {
  
  .navbar {

    padding: 10px;
    position: relative;
  }

  .nav-links {
    display: none;

    flex-direction: column;

  }

  .nav-links.open {
    background: linear-gradient(180deg, rgba(253, 226, 251, 0.336), rgba(251, 243, 227, 0.401));
    display: flex;
    box-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .nav-links a {
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .auth-btn {
    flex-direction: column;
    font-size: 10px;
  }

  .hamburger {
    display: block;
  }

  .nav-links a {
    color: rgb(246, 92, 20);
  }

  .nav-links.open {
    position: absolute;
    display: flex;
    right: 5px;
    top: 60px;
    gap: 10px;
    z-index: 1000;

  }

  /* main-content of landing page */
  .main-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
  }

  .left .right {
    flex-basis: 100%;
  }

  .right{
  margin-top: -2rem;

  .left-image,
  .right-image {
    width: 100%;
  }

  .right-top {
    
    margin-bottom: 30px;

  }

  .video-container video {
    width: 100%;
  }

  .video-container video:hover {
    width: 200px;
  }

  .right-bottom {
    margin-top: 5%;
  }
  /* auth modal */
  .auth-modal {
    width: 70%;
    height: fit-content;
  }

  /* sidebar */
  .sidebar {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: fit-content;
    height: 70%; /* Sidebar height for mobile */
    flex-direction: row; /* Change layout to horizontal on mobile */
    justify-content: space-around;
  }

  .menu {
    flex-direction: row;
    gap: 1rem;
  }

  .sidebar-item {
    padding: 5px 15px;

  }

  .sidebar-item.active,
  .sidebar-item:hover {
    width: 10px;
    height: 30px;
  }

  .text {
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
  }

  .sidebar-item:hover .text {
    transform: translateX(-50%) translateY(5px);
  }

  .icon {
    font-size: 20px;
  }

  .dashboard-manager {
    width: 100vw;
    height: 100vh;

    flex-direction: column;
  }

  .sidebar-container {
    top: 10px;
    width: 100%; /* Sidebar takes full width on mobile */
    height: 60px; /* Sidebar height on mobile */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .dashboard-container {
    margin-left: 0; /* Remove margin for mobile */
    margin-top: 60px; /* Ensure content starts after sidebar */

    justify-content: center;
    align-items: center;
  }



  /* main dashbaord */

  .main-dashboard {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .middle-container {
    flex: 1;
    width: 100%;
    height: 100vh;
    padding: 10px;
    margin-left: 0;
  }

  .text-btn {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .text-container {
    flex-direction: column;
  }

  .setup-btn-container {
    margin-top: 1.5rem;
    width: 50%;
    height: fit-content;
  }

  .setup-btn1 {
    width: 140px;
    height: 140px;
  }

  .setup-btn2 {
    width: 100px;
    height: 100px;
  }

  .setup-btn {
    width: 80px;
    height: 80px;
  }

  .bot-section {
    width: 80%;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 50px 20px;

  }

  .bot-image {
    width: 120px;
  }

  .left,
  .right {
    position: static;
    margin: 10px -10px;
  }

  .bot-animation {
    width: 100%;
    height: 100%;
    transform: translateY(-50px);
  }

  .company-dashboard-container {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  /* chat animations */
  .chat-container {
    margin-left: 10px;
    width: 75%;
    height: 70%;
    max-width: 400px;
    /*Smaller max width for mobile*/

  }

  .chat-window {
    height: calc(100% - 30px);
  }

  .echo-container{
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-start;

  }

  /* echo assitant */
  .echo-card {
    padding: 20px;
  }

  .echo-image {
    width: 120px;
  }

  .echo-container h2 {
    font-size: 20px;
  }

  .echo-container h3 {
    font-size: 18px;
  }

  .echo-container p {
    font-size: 12px;
  }

  .test-chatbot-btn {
    padding: 10px 16px;
    font-size: 14px;
    bottom: -20px;
  }

  .test-result {
    width: 90%;
    font-size: 14px;
  }

  /*admin panel */
  .chatbot-dashboard-container {
    /* margin-top: 25%; */
    width: 100vw;
    display: flex;
    flex-direction: column;

  }

  .dashboard-grid {
    width: 90%;
    grid-template-columns: 1fr;
  }

  .chart-card {
    grid-column: span 1;
  }

  /*profile*/

  .photoSection,
  .detailsSection,
  .locationSection {
    flex: 1 1 100%;
    /* Each section takes full width */
  }

  /*settings*/

  .settings-container {
    width: 100vw;
    padding: 1rem; /* Reduce padding for mobile */
  }

   /* Adjust card for smaller screens */
   .settings-card {
    width: 90%; /* Make the card take up more width on mobile */
    max-width: none; /* Remove max-width to make full use of the screen width */
  }
  .settings-header h1 {
    font-size: 1.5rem; /* Smaller header text */
  }

  .settings-nav-list {
    flex-direction: column; /* Stack navigation items vertically */
    align-items: center;
  }

  .settings-nav-item {
    font-size: 1rem; /* Smaller text for mobile */
    padding: 0.5rem 0; /* Add some spacing */
  }

  .settings-section h2 {
    font-size: 1.25rem; /* Smaller section headings */
  }

  .settings-input {
    font-size: 0.9rem; /* Smaller input text */
  }

  .settings-theme-toggle {
    flex-direction: column; /* Stack theme toggle vertically */
  }

  /*priceplan*/
  .price-container{
      width: 90%;
      overflow-x: hidden;
  }
  .price-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .price-title {
    font-size: 20px;
  }

  .card {
    padding: 15px;
  }

  .card-header {
    font-size: 16px;
  }

  .price {
    font-size: 20px;
  }

  .choose-btn {
    width: 80%;
    padding: 8px;
    font-size: 14px;
  }

}
}